.makeImage{
  min-height: 250px;
  max-height: 250px;
  padding: 10px;
}

.card-bodys{
  min-height: 100px;
  max-height: 100px;
}

::-webkit-scrollbar{
  display: none;
}

.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-icon .cart-counter {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 1px 5px;
  border-radius: 70%;
}

.cart-icon i {
  font-size: 15px;
  color: black;
}

.fa-shopping-cart {
  font-size: 25px !important;
}